/*====Fonts====*/

@font-face {
  font-family: PT Sans;
  src: url(ptsans.woff2),
       url(ptsans.woff);
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: PT Sans;
  src: url(ptsansbold.woff2),
       url(ptsansbold.woff);
       font-weight: 700;
       font-style: normal;
}

/*====Variables====*/

:root {
  --basic-text: #000000;
  --basic-white: #ffffff;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-blue: #81b3d2;
  --basic-dark: #333333;
  --basic-grey: #eeeeee;
  --basic-dark-grey: #a9a9a9;
  --basic-light-grey: #f2f2f2;
  --basic-brown: #766357;
}

/*====Global====*/

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

img { 
  max-width: 100%;
  height: auto;
}

a { 
  text-decoration: none;
}