/*====Fonts====*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans-v11-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff2"),
       url("../fonts/pt-sans-v11-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pt-sans-v11-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin-ext_latin_cyrillic-ext_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*====Variables====*/

:root {
  --basic-text: #000000;
  --basic-white: #ffffff;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-transparent-black: rgba(0, 0, 0, 0.3);
  --basic-btn-opscity: rgba(225, 225, 225, 0.3);
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-darkest-blue: #5496bd;
  --basic-dark: #333333;
  --basic-grey: #eeeeee;
  --basic-dark-grey: #a9a9a9;
  --basic-light-grey: #f2f2f2;
  --basic-brown: #766357;
  --basic-dark-brown: #604e43;
  --basic-darkest-brown: #503e33;
  --basic-grey-brown: #666666;
  --basic-input-hover: #ebebeb;
  --basik-input-border: #e5e5e5;
  --basic-copyright-active: #bdbbbc;
  --basic-sort: #cacaca;  
}

/*====Global====*/

body {  
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.box-body {
  width: 1200px;
  margin: auto;

}

img {
  max-width: 100%;  
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*====Grid====*/

.page {
  height: 100%;  
}

.page-body {
  height: 100%;

}

.box-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/*====General====*/
.btn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: inherit;
  border: none;
}

.btn-brown {
  background-color: var(--basic-brown);
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: var(--basic-dark-brown);
}

.btn-brown:active {
  color: var(--basic-btn-opscity);
  background-color: var(--basic-darkest-brown);
}

.btn-blue {
  background-color: var(--basic-blue);
}

.btn-blue:hover,
.btn-blue:focus,
.social a:hover,
.social a:focus {
  background-color: var(--basic-dark-blue);
}

.btn-blue:active,
.social a:active {
  color: var(--basic-btn-opscity);
  background-color: var(--basic-darkest-blue);
}

.booking .btn,
.search-popap .btn {
  font-size: 21px;
  line-height: 26px;
}

.main-navigation a:hover,
.main-navigation a:focus,
.hotel-list .title:hover,
.hotel-list .title:focus {
  color: var(--basic-blue);
}

.main-navigation a:active,
.hotel-list .title:active {
  color: var(--basic-text);
  opacity: 0.3;
}

.main-navigation a:not([href]) {
  color: var(--basic-brown);
}

/*==========index.html==========*/

/*====Main-navigation====*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  background-color: transparent;
}

.main-navigation a {  
  color: inherit;
}

.main-navigation div.logo {
  padding-left: 531px;
  padding-right: 531px;
}

.main-navigation .site-navigation {
  display: flex;  
  flex-wrap: wrap;
  margin: 0; 
  margin-top: -79px; 
  padding: 0;
  list-style: none;
}

.site-navigation li {
  margin-top: 15px;
  margin-bottom: 15px;

}

.site-navigation li:nth-child(4n-3) {
  margin-left: 72px;
}

.site-navigation li:nth-child(4n-2) {
  margin-left: 135px;
}

.site-navigation li:nth-child(4n-1) {
  margin-left: 418px;
}


.site-navigation li:nth-child(4n) {
  margin-left: 148px;
}

/*====Promo====*/

.promo {  
  padding-top: 35px;
  padding-bottom: 81px;
  background-color: var(--basic-dark);
  background-image: url("../img/background_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo .welcome {
  margin-top: 43px;
}

/*====advantage====*/

.advantage {
  line-height: 27px;
  background-color: transparent;
}

.advantage .box-white {  
  margin: 0;
  margin-top: -63px;
  margin-bottom: 51px;
  padding: 0;
  padding-top: 77px;
  background-image: url("../img/white.png");
}

.advantage .larger-text {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-top: 21px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 21px;
  font-weight: 700; 
}

.advantage .content_5 {
  margin-top: 39px;
  margin-left: 100px;
  margin-right: 100px;
}

.advantage-items {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;  
}

.advantage-item p {
  line-height: 21px;
}

.advantage-items .full {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.advantage-items .left {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.advantage-items .right {
  grid-row-start: 3;  
  grid-column-start: 1;
  grid-column-end: 4;
}

.advantage-items .advantage-item_1,
.advantage-items .advantage-item_2 {
  display: flex;   
}


.full .content-number {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-left: 51px;
  margin-right: 50px;
}

.full .content-text {
  display: inline-block;
  text-align: center;
  margin-top: 9px;
  margin-left: 50px;
  margin-right: 49px;
  line-height: 22px;
}

.advantage-item_1 .content,
.advantage-item_2 .content {
  min-width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantage-item_1 .content {    
  margin-top: 46px;
}

.advantage-item_2 .content {
  margin-top: 49px;
}


.full .content-title {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-left: 125px;
  margin-right: 125px;  
  padding: 0;
  line-height: 22px;
}


.advantage-items h3,
.real-city h4 {
  font-weight: bold;
  font-size: 21px;  
}

.advantage-items .real-city {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
  list-style: none;
}


.real-city .real-city-item:last-child {
  margin-left: 3px;

}

.real-city h4 {  
  margin: 0;
  margin-bottom: 9px;
}

.real-city-item p {
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 21px;
}

.advantage-items .grey { 
  width: 400px;
  padding-top: 26px;
  padding-bottom: 39px;
  line-height: 21px;
  background-color: var(--basic-grey);
}

.advantage-items .grey-number {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.advantage-items .grey1 {
  grid-row-start: 5;
  grid-column-start: 1;  
}

.advantage-items .grey2 {
  grid-row-start: 5;
  grid-column-start: 2;  
}

.advantage-items .grey3 {
  grid-row-start: 5;
  grid-column-start: 3;  
}


.real-city p,
.grey p {
  color: var(--basic-dark);
}



/*====booking====*/

.booking {
  line-height: 25px;
  background-color: transparent;
}

.booking .larger-text {
  padding-top: 27px;
  padding-bottom: 2px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.booking .btn {
  display: inline-block;
  text-align: center;
  width: 568px;
  height: 86px;
  margin-top: 28px;
}

/*====main-footer====*/

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: var(--basic-transparent-white);
}

.main-footer-start {
  margin-top: -128px;
}

.main-footer {
  line-height: 26px;
}

.main-footer div.contacts {
  width: 300px;
  margin: 0;  
  margin-top: 23px;
  margin-bottom: 49px;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

.main-footer p.contacts {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-left: 57px;
  padding: 0; 
}

.main-footer .contacts-phone {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-top: 9px;
  margin-left: 56px;
}

.main-footer a {
  display: inline-block;
  text-align: center;
  width: 46px;
  height: 48px;
  color: inherit;
}

.main-footer .social {  
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  margin: 0;  
  margin-top: 35px;
  margin-bottom: 49px;
  padding: 0; 
  list-style: none;  
}

.main-footer .social-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social svg {
  display: inline-block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;  
  fill: var(--basic-white);
}

.main-footer .copyright {
  min-width: 300px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 60px;
}

.main-footer .by {
  margin-left: 46px;
}

.main-footer .copyright:hover,
.main-footer .copyright:focus {
  fill: var(--basic-blue);
}

.main-footer .copyright:active {
  fill: var(--basic-copyright-active);
}

/*====search-popap====*/

.search-popap {
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  background-color: var(--basic-white);
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.search-popap form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 63px;
  margin-left: 55px;
  margin-right: 55px;
}

.search-popap .input-container {
  display: flex;  
}


.search-popap .form-age {
  display: flex;
  justify-content: space-between;  
}

.search-popap input {
  height: 30px;
}

.form-start input,
.form-end input {
  flex-grow: 2;
  margin-left: 20px;
}


.form-age input {
  width: 114px;
  text-align: center;
}

.search-popap input {
  margin-bottom: 39px;
  font: inherit;
  text-transform: inherit;
  background-color: var(--basic-light-grey);
  border: none;
}

.search-popap .btn {
  display: inline-block;
  text-align: center;
  height: 58px;
 /* padding-top: 16px;
  padding-left: 16px;*/
}

.search-popap input:hover {
  background-color: var(--basic-input-hover);
}

.search-popap input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basik-input-border);
}

.search-popap .calendar {
  fill: var(--basic-dark-grey);
  background-color: var(--basic-light-grey);
  border: none;
}

.search-popap .calendar:hover,
.search-popap .calendar:focus {
  fill: var(--basic-text);
}

.search-popap .calendar:active {
  fill: var(--basic-copyright-active);
}

/*==========catalog.html==========*/

/*====search====*/

.search {
  background-color: var(--basic-darkest-blue);
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.search .filter {
  color: var(--basic-white);
  text-transform: inherit;
}

.search fieldset {
  border: none;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter legend,
.filter-price p {
  font-size: 16px;
  font-weight: 700;
}

.filter .border {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}


.filter .btn {
  font-weight: 400;
  background-color: transparent;
}

.filter .btn:hover,
.filter .btn:focus {
  color: var(--basic-text);
  background-color: var(--basic-white);
}

/*====results===*/

.results .show-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results .sorting-rating {
  font-size: 12px;
  line-height: 18px;
}

.results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-rating .btn {
  color: var(--basic-transparent-black);
  background-color: transparent;
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-rating .btn:hover,
.sorting-rating .btn:focus {
  color: var(--basic-blue);
}

.sorting-rating .btn:active {
  color: var(--basic-text);
  border: none;
}

.sorting-rating .active {
  color: var(--basic-blue);
  border: none;
}

.sorting-up-down .btn {
  fill: var(--basic-sort);
  background-color: transparent;
}

.sorting-up-down .btn:hover,
.sorting-up-down .btn:focus {
  fill: var(--basic-text);
}

.sorting-up-down .btn:active {
  fill: var(--basic-blue);
}

/*====hotel-list====*/

.hotel-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.hotel-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-list .price {
  color: var(--basic-dark);
}

.hotel-list .stars {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-list .rating {
  color: var(--basic-grey-brown);
  background-color: var(--basic-light-grey);
}

.hotel-list a.title {
  color: inherit;
}
