/*====Fonts====*/

@font-face {
  font-family: PT Sans;
  src: url(/fonts/ptsans.woff2), url(/fonts/ptsans.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PT Sans;
  src: url(/fonts/ptsansbold.woff2), url(/fonts/ptsansbold.woff);
  font-weight: 700;
  font-style: normal;
}

/*====Variables====*/

:root {
  --basic-text: #000000;
  --basic-white: #ffffff;
  --basic-transparent-white: rgba(255, 255, 255, 0.9);
  --basic-btn-opscity: rgba(225, 225, 225, 0.3);
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-darkest-blue: #5496bd;
  --basic-dark: #333333;
  --basic-grey: #eeeeee;
  --basic-dark-grey: #a9a9a9;
  --basic-light-grey: #f2f2f2;
  --basic-brown: #766357;
  --basic-dark-brown: #604e43;
  --basic-darkest-brown: #503e33;
  --basic-grey-brown: #666666;
  --basic-input-hover: #ebebeb;
  --basik-input-border: #e5e5e5;
  --basic-copyright-active: #bdbbbc;
}

/*====Global====*/

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.box-body {
  min-width: 1200px;
  margin: 0;
  padding: 20;
}

img {
  max-width: 100%;  
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*====General====*/
.btn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: inherit;
  border: none;
}

.btn-brown {
  background-color: var(--basic-brown);
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: var(--basic-dark-brown);
}

.btn-brown:active {
  color: var(--basic-btn-opscity);
  background-color: var(--basic-darkest-brown);
}

.btn-blue {
  background-color: var(--basic-blue);
}

.btn-blue:hover,
.btn-blue:focus,
.social:hover,
.social:focus {
  background-color: var(--basic-dark-blue);
}

.btn-blue:active,
.social:active {
  color: var(--basic-btn-opscity);
  background-color: var(--basic-darkest-blue);
}

.booking .btn,
.search .btn {
  font-size: 21px;
  line-height: 26px;
}

.main-navigation a:hover,
.main-navigation a:focus,
.hotel-list .title:hover,
.hotel-list .title:focus {
  color: var(--basic-blue);
}

.main-navigation a:active,
.hotel-list .title:active {
  color: var(--basic-text);
  opacity: 0.3;
}

.main-navigation a:not([href]) {
  color: var(--basic-brown);
}

/*==========index.html==========*/

/*====Main-navigation====*/

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  background-color: transparent;
}

.main-navigation a {
  color: inherit;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*====Promo====*/

.promo {
  padding-top: 35px;
  padding-bottom: 81px;
  background-color: var(--basic-dark);
  background-image: url("/img/background_photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/*====advantage====*/

.advantage {
  line-height: 26px;
  background-color: transparent;
}

.advantage .larger-text {
  font-size: 21px;
  font-weight: 700;
}

/*====booking====*/

.booking {
  line-height: 24px;
  background-color: transparent;
}

.booking .larger-text {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

/*====main-footer====*/

.main-footer {
  background-color: var(--basic-transparent-white);
}

.main-footer {
  line-height: 26px;
}

.main-footer .contacts,
.main-footer .contacts-phone {
  font-size: 21px;
  font-weight: 700;
  text-align: left;
}

.main-footer a {
  color: inherit;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-blue);
}

.social svg {
  fill: var(--basic-white);
}

.main-footer .copyright:hover,
.main-footer .copyright:focus {
  fill: var(--basic-blue);
}

.main-footer .copyright:active {
  fill: var(--basic-copyright-active);
}

/*====search====*/

.search {
  background-color: var(--basic-white);
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.search input {
  font: inherit;
  text-transform: inherit;
  background-color: var(--basic-light-grey);
  border: none;
}

.form-age input {
  text-align: center;
}

.search input:hover {
  background-color: var(--basic-input-hover);
}

.search input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basik-input-border);
}

.search .calendar {
  fill: var(--basic-dark-grey);
  background-color: var(--basic-light-grey);
  border: none;
}

.search .calendar:hover,
.search .calendar:focus {
  fill: var(--basic-text);
}

.search .calendar:active {
  fill: var(--basic-copyright-active);
}

/*==========catalog.html==========*/

/*====hotel-list====*/

.hotel-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.hotel-list h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-list .price {
  color: var(--basic-dark);
}

.hotel-list .stars {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-list .rating {
  color: var(--basic-grey-brown);
  background-color: var(--basic-light-grey);
}

.hotel-list a.title {
  color: inherit;
}
